

    <div class="container">
        <% @articles.each do |article| %>
            <div class="row">
                <div class="col-sm-6 wow pull-right fadeInRightBig polaroid">
                    <%= image_tag article.image.url(:medium), :class => "img-responsive, center-block" %>
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h2 class="h2_home wow fadeIn"><%= article.title %></h2>
                    <div class="sub-title lead3"><%= article.subtitle %></div> 
                    <p class="lead">
                        Really I would like each of these to alternate using the :nth child CSS animation in "AnimatecssI_was_trying_to_change.css" but ....
                        <%=h truncate(article.text, :length => 120) %>
                    </p>
                    <div class="btn btn-embossed btn-warning"> 
                        <%= link_to 'Reveal', article_path(article) %>
                    </div>
                </div>
            </div>
        <hr>
        <hr>
        <% end %> 


    </div>




