<div class="container">
    <div class="col-md-12">
        <div class="row">


            <!--
            <div class="thumbnail">
            -->
                <div class="col-md-7">

                    <%= link_to article_path(@articles.first) do %>
                        <%= image_tag @articles.first.image.url(:medium), :class => "img-responsive" %>
                    <% end %>
                    <!--
                    <div class="caption post-content">
                        <h2 class="h2_home wow fadeIn"><%= link_to @articles.first.title, article_path(@articles.first) %></h2>
                        <div class="sub-title lead3"><%= link_to @articles.first.subtitle, article_path(@articles.first) %></div><br> 
                    </div>
                    -->
                
                </div>


            
                 <div class="col-md-5">
                    <h2 class="h2_home wow fadeIn">Latest Answers</h2>

                    <hr>
                    <% @articles.each do |article| %>
                        <p class="lead" style="margin-top:0">
                            <%= link_to article.title, article_path(article) %>
                        </p>
                        <hr>
                    <% end %>
                </div> 



            <br>


        </div>
    </div>
</div>
