    <div class="container">


            <% @articles.each do |article| %>
                <%= image_tag article.image.url(:medium), :class => "img-responsive, center-block" %>
                <h2 class="h2_home wow fadeIn"><%= article.title %></h2>
                <%= article.subtitle %></div> 
                <p class="lead"><%=h truncate(article.text, :length => 120) %></p>
                <div class="btn btn-embossed btn-warning"><%= link_to 'Reveal', article_path(article) %></div>
            <% end %> 


    </div>
