<!DOCTYPE html>
<html>
<head>
  <title>Mickeytale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' unless current_page?(root_path) %>
  <%= yield %>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<p>www.monorailsandmickeytales.com is not affiliated with, authorized or endorsed by, or in any way officially connected with The Walt Disney Company</p>

</body>
</html>
